# --- Basic Framework ---
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
python-multipart

# --- NLP & Rerank ---
transformers
sentence-transformers
accelerate
FlagEmbedding

# --- RAG & Database ---
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
chromadb
pypdf

# --- Finance & Data ---
yfinance
pandas
numpy

# --- Tools ---
tqdm
fuzzywuzzy
python-Levenshtein