# --- basic framwork ---
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

# --- NLP ---
torch
transformers
sentence-transformers
accelerate

# --- RAG & database ---
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
chromadb
pypdf

# --- finance ---
yfinance
pandas
numpy

# --- tools ---
tqdm
fuzzywuzzy
python-Levenshtein