-r requirements.txt

# --- Data Sourcing & Web Scraping ---
kaggle
sec-edgar-downloader
GoogleNews
wikipedia-api
requests
beautifulsoup4

# --- Training & Testing ---
scikit-learn
pytest
black
flake8
torch
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# --- Data Scraping ----
# playwright install chromium